.fishOfTheSea {

    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.fishOfTheSea:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.fish_card {
    max-width: 10rem;
}

 .fishOfTheSea .fish__details .fish_species {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
   
}
#fish_title {
    color: red;
}

.header {
  color: red;
  text-align: center; 
}


